@charset "utf-8";
html, body {
    font-size: 12px;
    width: 100%;
    height: 100%;
}                   /*全局控制*/
body, form, input, h1, p {
    padding: 0;
    margin: 0;
    border: 0;
}          /*重置浏览器的默认样式*/
form {
    width: 100%;
    height: 100%;
    display: block;
}
form div {
    width: 50%;
    height: 50%;
    float: left;
    border: 1px solid;
    box-sizing: border-box;
    padding: 100px 0;
    padding-left: 5%;
}
form div:nth-child(1) {
    background-image: url("images/login.png");
    color: black;
}
form div:nth-child(2) {
    background-image: url("images/area.png");
    color: gray;
    font-family: Microsoft Yahei;
}
form div:nth-child(3) {
    background-image: url("images/hobby.png");
    background-position: right;
    color: darkgreen;
    font-size: 20px;
    padding-top: 10%;
    padding-left: 70px;
}
form div:nth-child(4) {
    background-image: url("images/board.png");
    color: white;
    font-size: 25px;
}
p {
    display: block;
    height: 25%;
}
form div:last-of-type p {
    height: 33%;
}

.area {
    font-size: 30px;
    padding-left: 13%;
    padding-top: 5%;
}
.locate {
    width: 90px;
    text-align: left;
}
.message
{
	padding-left: 14%;
}
p span {
    width: 90px;
    display: inline-block;                /*将行内元素转换为行内块元素*/
    text-align: right;
    padding-right: 10px;
}