* {
    margin: 0;
    padding: 0;
}
.tab {
    border: 1px solid #ddd;
    border-bottom: 0;
    height: 25px;
    width: 480px;
    list-style: none;
}
.tab li {
    position: relative;
    float: left;
    width: 80px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    border-top: solid #fff;
}
.products {
    width: 600px;
    border: solid #ddd;
    height: 375px;
}
.products .main {
    float: left;
    display: none;
}
.products .main.selected {
    display: block;
}
.tab li.active {
    border-color: red;
    border-bottom: 0;
}
th
{
    height: 400px;
}
.time
{
    width: 510px;
    text-align: center;
    font-size: 38px;
    font-family: 微软雅黑 Light;
    background-image: url("img/time.png");
    color: lightgoldenrodyellow;
    border-radius: 30px;
}
.video
{
    background-image: url("img/plum.jpeg");
    background-position: center;
    height: 768px;
    width: 1475px;
    align-items: center;
}
iframe
{
    border-width: 0px;
    height: 600px;
    width: 800px;
    padding-left: 350px;
    padding-top: 84px;
}