* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background: white;
}
/*页眉*/
.box {
    width: device-width;
    height: 50px;
    background: url("images/wifi.png") right center no-repeat;
    border-radius: 8px;
    background-color: beige;
}
.box span {
    position: absolute;
    left: 0;
    top: 0;
    width: 83px;
    height: 50px;
    background: url("images/cloud.png") no-repeat;
}
.box ul {
    list-style: none;
    position: relative;
}
.box ul li {
    padding-top: 4px;
    float: left;
    width: 83px;
    height: 50px;
    text-align: center;
    font: 500 15px/42px "simsun";
    cursor: pointer;
}
.main ul li {
    background-color: beige;
    position: relative;
    z-index: 10;
}
.title {
    position: absolute;
    margin-left: 24%;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*轮播图*/
.banner {
    background: url("images/bg_banner.jpg");
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.banner .top {
    background: url("images/indextop.jpg");
    width: 100%;
    height: 10px;
}
.banner .bottom {
    background: url("images/indexbottom.jpg");
    width: 100%;
    height: 10px;
}
.banner .box2 {
    width: 100%;
    position: relative;
}
#SwitchBigPic {
    margin-left: 9px;
}
#SwitchBigPic span {
    display: none;
}
#SwitchBigPic img {
    width: 60%;
    height: 210px;
}
#SwitchBigPic .sp {
    display: block;
}
#SwitchNav {
    left: 60%;
    width: 40%;
    position: absolute;
    top: 0;
}
#SwitchNav li {
    background: url("images/tabs_bg.gif");
    width: 98%;
    height: 70px;
    margin-bottom: 1px;
}
#SwitchNav a {
    display: block;
    color: #444444;
    font-size: 14px;
    padding-left: 15px;
    padding-top: 10px;
    width: 90%;
    height: 70px;
}
#SwitchNav a:hover {
    background: url("images/tab_current_bgd.gif") no-repeat left top;
    color: #fff;
}
#SwitchNav span {
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    margin: 2px 0px;
}
/*文字*/
.text {
    position: relative;
    margin-top: 20px;
    font-family: KaiTi;
}
.text2 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: KaiTi;
}
h1 {
    background: url(images/title_bg.gif) repeat-x;
    width: 100%;
    height: 24px;
    border: 1px solid #d6d6d6;
    border-bottom: 1px solid #808080;
    color: deepskyblue;
    font-family: "宋体";
    font-size: 12px;
    font-weight: bold;
    padding: 6px 0px 0px 8px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.box1 {
    padding: 10px 0px;
    width: 100%;
    clear: both;
}
.imgbox {
    width: 100%;
    font-size: 0px;
    white-space: nowrap;
    overflow: hidden;
}
.imgbox img {
    width: 180px;
    border: 1px #ccc solid;
    padding: 2px;
}
.imgbox a {
    margin-right: 20px;
}
/*走马灯*/
.stages {
    margin: 0px auto;
    padding: 0px;
    border: 1px solid #c4c4c4;
    height: 30px;
    width: 100%;
    line-height: 30px;
    vertical-align: middle;
    text-align: left;
    overflow: visible;
}
.stages_title {
    width: 96px;
    text-align: center;
    border-right: 1px solid #c4c4c4;
    float: left;
}
.stages_con {
    width: 310px;
    float: left;
}
.stages_con ul li {
    list-style: none;
}
.stages_con ul li a {
    background: url(images/icon6.gif) no-repeat left center;
    padding: 0px 0px 0px 8px;
    margin: 0px 40px 0px 0px;
    width: 3px;
    height: 5px;
    line-height: 30px;
    vertical-align: middle;
    color: #212121;
    text-decoration: none;
}
.glass {
    width: 100%;
    border: 1px solid #ccc;
    position: relative;
}
.big {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 210px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
}
